/* General */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h3 {
    color: #007bff;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

button {
    font-weight: 400;
}

/* Header */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Forms */
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form .form-group {
    margin-bottom: 15px;
}

form .form-control {
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

form .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    background-color: #0056b3;
}

/* Buttons */
button {
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    border-radius: 4px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Content */
#content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#content h2 {
    font-size: 1.5rem;
    color: #555;
}

/* Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    form, #content {
        padding: 15px;
    }

    form .form-control, button {
        font-size: 0.9rem;
    }
}








/* Estilo base */
body {
    transition: background-color 0.3s, color 0.3s;
}


